<!doctype html>
<html>
<head>
    <title>Index</title>

</head>
<body>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="upload">

    </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        (function($){
            $('form').submit(function(event){
                event.preventDefault();

                var data = new FormData(this);
                var action = function(d){
                    console.log(d);
                    console.log("Success");
                };
                var error_action = function (d){
                    console.log("Cannot upload file.!");
                    window.alert("File must only be mp4 or mkv!");
                    console.log(d);
                };
                $.ajax({
                    url:'/api/',
                    data:data,
                    type:"POST",
                    contentType: false,
                    processData: false,
                    success: action,
                    error: error_action,
                })
            });
        }(jQuery));
    </script>
</body>
</html>